

body{
background:#0f172a;
font-family:Arial;
}

.container{
width:90%;
margin:auto;
margin-top:40px;
color:white;
}

.title{
text-align:center;
margin-bottom:30px;
}

.form-card{
background:#1e293b;
padding:20px;
border-radius:10px;
margin-bottom:30px;
}

input,select{
width:100%;
padding:10px;
margin-top:8px;
margin-bottom:10px;
border-radius:6px;
border:none;
}

.btn-add{
background:#22c55e;
color:white;
padding:10px;
border:none;
border-radius:6px;
cursor:pointer;
}

.btn-delete{
background:#ef4444;
color:white;
padding:6px 10px;
border:none;
border-radius:5px;
cursor:pointer;
}

.table{
width:100%;
border-collapse:collapse;
background:#1e293b;
}

th,td{
padding:10px;
border-bottom:1px solid #334155;
}

.error{
color:#f87171;
font-size:12px;
}